*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    text-align: center;
}
div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}
#container{
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: column-reverse;
}
#box1{
    background-color: aqua;
}
#box2{
    background-color:bisque;
}
#box3{
    background-color:cadetblue;
}
#box4{
    background-color:darkgray;
}
#box5{
    background-color:indianred;
}